.git
.github
.turbo
.vscode
node_modules
**/node_modules
**/.next
**/dist
**/build
**/.venv
**/__pycache__
**/*.pyc
docs/openapi.json
packages/api-client/src/generated/openapi.ts
.env
**/.env
**/.env.local
